{% include 'cameras/head.html' %}

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'cameras:index' %}">智能教室检测系统</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'cameras:index' %}">主页</a></li>
              <li><a href="{% url 'cameras:cameralist' %}">教室列表</a></li>
              <li><a href="ad/">监控管理</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</nav>

<!-- <div class="container block-center" style="margin-top:30px;margin-left:auto;margin-right:auto"> -->
<div class="container block-center" style="margin-top:100px; margin-left:auto; margin-right:auto">
    {% if cameras_list %}
        {% for camera in cameras_list %}
            {% if forloop.first %}
                <div class="row">
            {% endif %}
            <div class="col-md-4">
                <a class="text-center" target="_self" href="{% url 'cameras:detail' camera.id %}">
                    <img src="{% url 'cameras:screenshot' camera.id %}" class="img-responsive block-center" width="480" height="270">
                    <p class="text-center">{{ camera.classroom_text }}</p>
                </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                {% if forloop.last != 1 %}
                    </div>
                    <div class="row">
                    <div class="panel-heading">
                    <h3 class="panel-title"> </h3>
                    </div>
                    </div>
                    <div class="row">
                {% endif %}
            {% endif %}
            
            
        {% endfor %}
    {% else %}
        <p>No cameras are available.</p>
    {% endif %}
</div>

{% include 'cameras/foot.html' %}