<div class="container">
        <h2>主页</h2>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">主页</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">教室列表</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">摄像头管理</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
            </li>
        </ul>
</div>